<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

        <property name="LOG_FILE_PATH" value="/data/logs/mvcHello/log" />
        
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <charset>UTF-8</charset>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{50}] %msg%n</Pattern>
            </encoder>
        </appender>
        
        <logger name="com.zzy" level="DEBUG" >
            <appender-ref ref="CONSOLE" />
        </logger>

</configuration>
